// Body
$body-bg: #f8fafc;
$body-color: #6c757d;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// navbar
$navbar-padding-y: 1rem;
$navbar-padding-x: 0.5rem;

//color
$back-color:#f8fafc;
$main-color:#FF5685;
$sub-color:#6AC7E6;
$error-color:#ff8d99;



